@model IEnumerable<BanhoModel>

<div class="container">
    <div class="d-flex justify-content-between align-itens-center mb-5">
        <h3 q>Registros de Banho</h3>
        <a class="btn btn-success mx-4" asp-controller="Banho" asp-action="Cadastrar">Cadastrar novo banho</a>
    </div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Cachorro</th>
            <th scope="col">Data</th>
            <th scope="col">Observações</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var banho in Model)
            {
                <tr>
                    <th scope="row">@banho.Cliente?.Nome</th>
                    <td>@banho.Cliente?.Cachorro</td>
                    <td>@banho.DataVisita.ToShortDateString()</td>
                    <td>@banho.Observacoes</td>
                </tr>
            }
        }
    </tbody>
</table>
</div>
